* {
	margin: 0;
  	padding: 0;
}

html {
	background-color: white;
	font-size: 16px;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 9rem;
}

h3 {
	font-size: 2rem;
	text-align: center;
}

h5 {
	font-size: 1.2rem;
}

h1, h5 {
	text-align: justify;
}

h1, h3, h5, a, button, input {
	color: #707070;
	font-family: 'Nunito', sans-serif;
}

.header {
	background-color: white;
	text-align: center;
}

.header a {
	font-size: 1.25rem;
	color: #a6a6a6;
	font-family: 'Nanum Gothic', sans-serif;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	border-color: white;
	border-right-color: white;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	border-radius: 5px;
}

.header a:hover{
	background-color: lightgrey;
	color: white;
	cursor: pointer;
}

.grid-boxes{
	display: grid;
	grid-template: 800px 150px 800px 150px 800px 150px 800px 100px / 1fr 1fr;
	grid-template-areas: "logo logo"
						 "break1 break1"
						 "box1Left box1Right"
						 "break2 break2"
						 "box2Left box2Right"
						 "break3 break3"
						 "box3Left box3Right"
						 "footer footer"; 
	justify-content: center;
	padding-bottom: 15px;
}

.break1 {
	grid-area: break1;
}

.break2 {
	grid-area: break2;
}

.break3 {
	grid-area: break3;
}

.break1, .break2, .break3 {
	background-color: #DB4D52;
}

.break1 h3 {
	margin-top: 20px;
}

.break2 h3 {
	margin-top: 35px;
	line-height: 2.5rem;
}

.break3 h3 {
	margin-top: 20px;
}

.break1 h3, .break2 h3, .break3 h3 {
	color: white;
	place-self: center;
}

.break1 button {
	background-color: white;
    border: none;
    border-radius: 5px;
    color: #707070;
    font-size: 1.3rem;
    padding: 15px 32px;
    position: relative;
    left: 50%;
    margin-left: -85px;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.break1 button:hover {
	background-color: #e99598;
    color: white;
}

.email_field input[type=text] {
	position: relative;
	font-size: 1.4rem;
	left: 50%;
	width: 430px;
	height: 40px;
	margin-top: 10px;
	margin-left: -280px;
	box-sizing: border-box;
	border-left: 8px solid white;
	border-right: 8px solid white;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	background-image: url('./images/mail.png');
	background-position: 5px; 
    background-repeat: no-repeat;
    background-size: 32px 32px;
    padding-left: 45px;
    padding-right: 5px;
}

/*Clearing Floats*/
.email_field:before, .email_field:after {
    content:"";
    display:table;
}

.email_field:after {
    clear:both;
}

.email_field {
    zoom:1;
} 

.email_field button {
	position: relative;
	left: 50%;
	margin-left: -4px;
	background-color: white;
	color: #707070;
	font-size: 1.4rem;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 40px;
	width: 120px; 
	border-left: 1.5px solid #bfbfbf;
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.email_field button:hover {
	background-color: #e99598;
    color: white;
}

/*Placeholder Text*/
::placeholder {
   color: #bfbfbf;
}

:-moz-placeholder {
	color: #bfbfbf;
}

:-ms-input-placeholder {
	color: #bfbfbf;
}

.logo {
	grid-area: logo;
	background-color: white;
	place-self: center;
	padding-left: 30px;
	padding-right: 30px;
}

.logo h1 {
	margin-top: -130px;
	/* -webkit-animation: image_blur 2s; */
} 

.logo h3 {
	margin-top: -15px;
	/* -webkit-animation: image_blur 2s; */
}

.box1Left {
	grid-area: box1Left;
}

.box1Right {
	grid-area: box1Right;

}

.box2Left {
	grid-area: box2Left;
}

.box2Right {
	grid-area: box2Right;
	margin-right: 40px;
}

.box3Left {
	grid-area: box3Left;
}

.box3Right {
	grid-area: box3Right;
}

.footer {
	grid-area: footer;
	margin-top: 80px;
}

.box1Left, .box1Right, .box2Left, .box2Right, 
.box3Left, .box3Right, .footer {
	background-color: white;
	place-self: center;
	padding-left: 30px;
	padding-right: 30px;
}

.footer a {
	color: #707070;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 1.15rem;
}

.red {
	color: #DB4D52; 
	background-color: white;
}

.box1Left #macbook {
	max-height: 700px;
	max-width: 100%;
	padding-left: 10px;
}

.box1Right h5, .box2Left h5, .box3Right h5 {
	max-width: 70%;
	margin-left: 110px;
}

.box2Right #chart {
	max-height: 700px;
	max-width: 100%;
	-webkit-filter: drop-shadow(0px 0px 15px #333);
	filter: drop-shadow(0px 0px 15px #333);
}

.box3Left #appleDevices {
	max-height: 700px;
	max-width: 100%;
}

/* animations
@-webkit-keyframes image_blur {
    0% { -webkit-filter: blur(10px);}
	100% { -webkit-filter: blur(0px);}
}

@-webkit-keyframes background_transition {
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
*/