/*This CSS document is organized starting from the 
  top/most general part of the web-page to the bottom*/

/*General Attributes*/
* {
	margin: 0;
  	padding: 0;
}

a {
	text-decoration: none;
}

html {
	background-color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

/*This is the parent div to help center sign up box*/
.sign_up_screen {
	height: 100%;
	position: absolute;
	width: 100%;
}

/*Sign up box div*/
.sign_up_box {
	border: 2px solid lightgrey;
	border-radius: 10px;
	height: 500px;
	left: 50%;
	margin-left: -275px;
	margin-top: -250px;
	position: relative;
	text-align: center;
	top: 50%;
	width: 550px;
}

/*Main logo in sign up box*/
.sign_up_box h1 {
	background-color: transparent;
	color: #707070;
	font-size: 3rem;
	margin-top: 60px;
}

/*Email entry field*/
.email_field input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    color: #707070;
    font-size: 1.2rem;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    width: 350px;
}

.email_field input:focus {
	border: 1px solid #DB4D52;
	border-radius: 5px;
	outline: none;
}

/*Placeholder text for entry box*/
::placeholder {
	color: #b3b3b3;
}

:-moz-placeholder {
	color: #b3b3b3;
}

:-ms-input-placeholder {
	color: #b3b3b3;
}

/*Clearing the floats after submission*/
.email_field:before, .email_field:after {
    content:"";
    display:table;
}

.email_field:after {
    clear:both;
}

.email_field {
    zoom:1;
} 

/*Sign up Button*/
.sign_up_button {
	background-color: #DB4D52;
	border-radius: 5px;
	color: white;
	margin-left: -181px;
	margin-top: 30px;
	padding-bottom: 11px;
	padding-left: 152.25px;
	padding-right: 152.25px;
	padding-top: 11px;
	position: absolute;
}

.sign_up_button:hover {
	background-color: #d84146;
	border-radius: 5px;
	color: white;
}

/*"OR" line break*/
.sign_up_box h3 {
	color: #b3b3b3;
	margin-top: 88.5px;
	position: relative;
}

#line_left {
	background-color: lightgrey;
	height: 1.25px;
	left: 50%;
	margin-left: -160px;
	margin-top: -13.5px;
	position: relative;
	width: 125px;
}

#line_right {
	background-color: lightgrey;
	height: 1.25px;
	left: 50%;
	margin-left: 35px;
	margin-top: -1.25px;
	position: relative;
	width: 125px;
}

/*Facebook sign up button*/
.facebook_sign_up {
	background-color: #3b5998;
	background-image: url(../images/facebookLogo.png);
	background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 32px 32px;
	border-radius: 5px;
	color: white;
	margin-left: -181px;
	margin-top: 31px;
	padding-bottom: 11px;
	padding-left: 99.5px;
	padding-right: 99.5px;
	padding-top: 11px;
	position: absolute;
}

.facebook_sign_up:hover {
	background-color: hsl(221, 44%, 38%);
	border-radius: 5px;
	color: white;
}

/*Login to pre-exsiting account text & button*/
.old_account {
	color: #b3b3b3;
	font-weight: 300;
	margin-top: 141px;
	position: relative;
}

.old_account a {
	color: #DB4D52;
}

.old_account a:hover {
	text-decoration: underline;
}

/*Any text marked with the red class gets applied with this*/
.red {
	background-color: transparent;
	color: #DB4D52;
}